Rent/
Required Trainings/
OTHER DOCUMENTS/
Exam Inivgilator/
ENG 701 - Coop/
Co-op/
COMPSCI 6WW3 - Web Systems/Final Exam
COMPSCI 6WW3 - Web Systems/Lecture Slides
COMPSCI 6WW3 - Web Systems/Workshops
CAS 781 - Advanced Topics - Data Center Design/Lecture Slides
CAS 703 - Software Design/Empty Review Templates
CAS 703 - Software Design/Lecture Slides
CAS 703 - Software Design/Outline
CAS 703 - Software Design/Presentation Reviews

COMPSCI 6WW3 - Web Systems/
CAS 703 - Software Design/
CAS 781 - Advanced Topics - Data Center Design/

CAS 756 - Advanced Topics in Formal Methods and Software Architecture/Lecture Slides
CAS 756 - Advanced Topics in Formal Methods and Software Architecture/Outline
CAS 756 - Advanced Topics in Formal Methods and Software Architecture/
CAS 764 - Advance Topics in Data Management/Lecture Slides
CAS 764 - Advance Topics in Data Management/Outline
CAS 771 - Big Data Systems and Applications/Lecture Slides
CAS 771 - Big Data Systems and Applications/Outline
CAS 771 - Big Data Systems and Applications/

CAS 764 - Advance Topics in Data Management/Project/Data
CAS 764 - Advance Topics in Data Management/Project/Tools/
CAS 764 - Advance Topics in Data Management/

*.tbl
*.tab
*.glade
*.hmm
