/* --- HTML tags --- */
/*Body sizes, font decorations, background image*/
body {
  margin: 0;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
  background: rgba(200, 200, 200, 0.3);
  background-image: url("../Images/Backgrounds/bgBig.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*Header background image and sizes*/
header {
  background: rgb(5, 185, 5);
  background-image: url("../Images/Headers/woodBig.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1%;
  height: 8em;
  margin: 0;
}

/*Nav bar contains half of middle grid and centered*/
nav {
  height: 50%;
  text-align: center;
}

/*Footer colors and size*/
footer {
  background: rgb(5, 185, 5);
  color: rgb(54, 40, 0);
  text-align: center;
  padding: 0.5%;
  clear: both;
}

/*Link decoration: no underline*/
a {
  text-decoration: none;
  color: rgb(100, 100, 255);
}

/*Hide meta tags*/
meta {
  display: none;
}
/* --- HTML tags --- */

/* --- Buttons --- */
/*Button colors and sizes*/
button {
  background: rgb(5, 155, 5);
  color: #ffffff;
  border: none;
  margin: 0;
  padding: 2%;
  font-size: 1.2vw;
}

/*Button on hover operations*/
button:hover {
  background: #ff7b00;
  color: rgb(54, 40, 0);
}

/*Submit&Reset buttons colors, border and sizes*/
input[type="submit"],
input[type="reset"] {
  background: rgb(5, 155, 5);
  color: white;
  border: none;
  margin: 0;
  padding: 2%;
  font-size: 0.95em;
  width: 6em;
  height: auto;
}
/*Submit button hover colors and text decorations*/
input[type="submit"]:hover {
  background: #ff7b00;
  color: rgb(54, 40, 0);
  font-weight: bold;
  text-shadow: 0 0 2px white;
}
/*Reset button hover colors and text decorations*/
input[type="reset"]:hover {
  background: rgb(54, 40, 0);
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 10px #ff7b00;
}
/* --- Buttons --- */

/* --- Inputs --- */
/*Input font decoration and sizes*/
input {
  border-radius: 10px;
  border: solid 1px black;
  width: 18vw;
  height: 2vw;
  font-size: 1.2vw;
}

input:invalid {
  background-color: #ffcccc;
}

input[type="number"]:valid,
input[type="text"]:valid {
  border-color: #006900;
}

input:required {
  border-color: red;
  border-width: 1px;
}
/* --- Inputs --- */

/* --- Navigation Bar Buttons --- */
/*Navigation Button colors and border*/
.navButton {
  background: rgb(5, 155, 5);
  color: #ffffff;
  border: none;
}

/*Nav button input font and sizes*/
.navButton > input {
  font-size: 0.95em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*Nav button hover color*/
.navButton:hover {
  background: #ff7b00;
  color: rgb(54, 40, 0);
}
/* --- Navigation Bar Buttons --- */

/* --- Select-option --- */
/*Select decorated like input tags*/
select {
  border: solid 1px #000000;
  border-radius: 10px;
  color: rgb(100, 100, 100);
  width: 12vw;
  height: 1.5vw;
  font-size: 1.2vw;
}

/*On hover: change text color to black*/
select:hover {
  color: #000000;
}
/* --- Select-option --- */

/* --- Search bar  --- */
/*Search buttons on navbar size&shape*/
.searchButton {
  border-radius: 5px;
  padding: 0 !important;
  padding-left: 0.2em !important;
  padding-right: 0.2em !important;
  margin: 0 !important;
  height: 2em !important;
  width: auto !important;
}

/*Search input tag size*/
.searchBox {
  width: 12vw;
  height: 1.5vw;
}
/* --- Search bar  --- */

/* --- Main  --- */
/*Main tag: centered and width adjustment*/
.main {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  background: #ffffff;
}
/* --- Main  --- */

/* --- Logo & Name  --- */
/*Logo image size adjustments*/
#websiteLogo {
  border-radius: 50%;
  float: right;
  display: block;
  width: auto;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
}

/*Source and img tags height restriction*/
#websiteLogo source,
#websiteLogo img {
  height: 100%;
}

/*Site name centered*/
#websiteName {
  text-align: center;
  height: 50%;
}

/*Site name links to index color change*/
#websiteName a:hover {
  color: #ff7b00;
  text-shadow: 0 0 3px #000000;
}

/*Site name link decoration*/
#websiteName a {
  text-decoration: none;
  color: rgb(5, 185, 5);
  text-shadow: 3px 3px rgb(54, 40, 0);
  height: 100%;
  font-size: 2em;
  margin: 0;
}
/* --- Logo & Name  --- */

/* --- Breadcrumb navigation  --- */
/*Breadcrumb list w/o dot and padding adjustment*/
.breadcrumb > ul {
  list-style-type: none;
  padding-left: 5%;
}

/*Horizontal list*/
.breadcrumb > ul > li {
  display: inline;
}

/*Margin&padding adjustments*/
.breadcrumb {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
  padding-top: 0.8em;
}
/* --- Breadcrumb navigation  --- */

/* --- Error styles  --- */
.error {
  font-size: 0.8em;
  color: red;
  margin: 1em;
}
/* --- Error styles  --- */

/* --- Base flexbox and grid  --- */
/*CSS flexbox*/
.flexContainer {
  display: flex;
  align-items: stretch;
}

/*CSS grid*/
.gridContainer {
  display: grid;
}

/*Navigation bar 5 button grid layout and gap*/
nav.gridContainer {
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 0.1%;
}

/*Search bars in the middle of the div*/
.headerFlexItemSearch {
  text-align: center;
}

/*header 3 segment flexbox grow: first, last*/
.headerFlexItemLogo,
.headerFlexItemSearch {
  flex-grow: 2;
}

/*header 3 segment flexbox grow: middle*/
.headerFlexItemNav {
  flex-grow: 4;
}
/* --- Base flexbox and grid  --- */

/* ----- SCREEN SIZE BASED OPERATIONS  ----- */

/* Mobile Devices */
@media only screen and (max-width: 500px) {
  body {
    font-size: 1rem;
    /* background-image: url("../Images/Backgrounds/bgSmall.jpg"); */
    /*No need to background image because main width 100%*/
    background: #ffffff;
    max-width: 100% !important;
  }

  header {
    height: 4em;
    /*Smaller header background*/
    background-image: url("../Images/Headers/woodSmall.jpg");
  }

  .main {
    /*Use all screen space width*/
    width: 100%;
  }

  /*Mobile device, don't show logo and search bars*/
  .headerFlexItemLogo,
  .headerFlexItemSearch {
    flex-grow: 0;
    display: none;
  }

  /*For full width navbar*/
  .flexContainer {
    padding: 0;
  }

  /*Site name font size adjustment*/
  #websiteName a {
    font-size: 1.5em;
  }

  /*Input and select tags font and box sizes*/
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="file"],
  input[type="search"],
  select {
    width: 20rem !important;
    height: 2rem !important;
    font-size: 1.2rem !important;
  }

  /*Checkbox and radio sizes*/
  input[type="checkbox"],
  input[type="radio"] {
    width: 5rem !important;
    height: auto !important;
    font-size: 1.2rem !important;
  }
}

/* Tablets */
@media only screen and (min-width: 501px) and (max-width: 1025px) {
  body {
    font-size: 1rem;
    /* background-image: url("../Images/Backgrounds/bgSmall.jpg"); */
    /*No need to background image because main width 100%*/
    background: #ffffff;
  }

  header {
    height: 6em;
    /*Smaller header background*/
    background-image: url("../Images/Headers/woodSmall.jpg");
  }

  .main {
    /*Use all screen space width*/
    width: 100%;
  }

  /*Input and select tags font and box sizes*/
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="file"],
  input[type="search"],
  select {
    width: 20rem !important;
    height: 2rem !important;
    font-size: 1.2rem !important;
  }

  /*Checkbox and radio sizes*/
  input[type="checkbox"],
  input[type="radio"] {
    width: 10rem !important;
    height: auto !important;
    font-size: 1.5rem !important;
  }
}

/* Lower Res Desktop - HD*/
@media only screen and (min-width: 1026px) and (max-width: 1300px) {
  body {
    font-size: 1.5rem;
    /*Medium background image*/
    background-image: url("../Images/Backgrounds/bgMedium.jpg");
  }
  header {
    /*Medium header background*/
    background-image: url("../Images/Headers/woodMedium.jpg");
  }

  .main {
    /*Little bit background image*/
    width: 90%;
  }
}

/* High Res Desktop - FullHD+*/
@media only screen and (min-width: 1301px) {
}
